@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --font-primaria: "Inter", serif;

    --cor-fundo: #00030C;
    --cor-botao: #167BF7;

    --cor-titulo: #fff;
    --cor-paragrafo: #F9F9F9;    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-titulo);
    font-family: var(--font-primaria);
}

.hero-section {
    height: 100vh;
    background-image: url("../img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

.hero-section--container {
    max-width: 40%;
    text-align: center;
    margin: 7rem 0 0 2rem; 
}

.hero-section--container img {
    margin: 1em 0;
    width: 70%;
    height: auto;
}

.hero-section--container .botoes {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: .5em;
    margin: 0 2em;        
}

.hero-section--container .azul {    
    background-color: var(--cor-botao);
    border-radius: 8px;
    padding: 1em;
    margin-bottom: 8px;
    text-decoration: none;   
    color: var(--cor-titulo);
}

.hero-section--container .normal {    
    border: 1px solid var(--cor-titulo);
    border-radius: 8px;
    padding: 1em;  
    text-decoration: none; 
    color: var(--cor-titulo);
}

.hero-section--container h1 {
    font-family: var(--font-primaria);
    font-size: 1.80em;
    font-weight: 700;
}

.hero-section--container p {
    margin-top: 8px;
    font-weight: 400;
    font-size: .8em;
}

main {
    margin: 0 5rem;
}

.section {
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;    
    gap: 40px;   
}

.section__texto h2 {
    font-family: var(--font-primaria);
    font-size: 3rem;
    font-weight: 700;
    color: var(--font-primaria);
    margin-bottom: .5em;
}

.section__texto p {
    font-family: var(--font-primaria);
    font-size: 1rem;
    font-weight: 400;
    color: var(--cor-paragrafo);    
}

.section__texto button {
    padding: 1rem;
    border-radius: 8px;
    margin-top: 10px;    
    text-decoration: none;   
    color: var(--cor-titulo);
    background: var(--cor-botao);
}

.section img {
    width: 50%;
}

.dispositivos {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dispositivos h2 {
    font-family: var(--font-primaria);
    font-weight: 700;
    font-size: 3em;
    margin-bottom: 80px;
}

.dispositivos__item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dispositivos__item__texto h3 {
    font-family: var(--font-primaria);
    font-weight: 700;
    font-size: 2em;
    text-align: center;
}

dispositivos__item__texto img {
    width: 100%;
}

.rodape {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    text-align: center;
    padding-bottom: 4em;
}

.rodape img {
    margin-top: 30px;
    width: 10%;
}

.rodape__links {
    display: flex;
    flex-direction: row;
    gap: 1em;    
}

.rodape__links li {
    list-style-type: none;
}

.rodape__links a {
    font-family: var(--font-primaria);
    color: var(--cor-titulo);
    font-size: 1em;
    font-weight: 400;
    text-decoration: none;
    justify-content: space-around;        
}

.rodape p {
    font-family: var(--font-primaria);
    color: #C0C0C0;
    font-size: .75em;
    font-weight: 400;
}

@media (max-width: 1000px) {
    .hero-section {
        background-image: url("../img/Background2.png");
        background-size: 100%;
        height: auto;
        margin-top: 0;
    }

    .hero-section--container {
        max-width: 100%;
        text-align: center;
        margin: 16rem 20px 0 20px; 
    }
    
    .hero-section--container img {
        margin: 1em 0;
        width: 70%;
        height: auto;
    }

    .hero-section--container .botoes {
        font-size: .75em;
    }

    main {
        margin: 0 2rem;
    }
    
    .section {
        height: auto;
        flex-direction: column;
        margin: 150px 0;   
    }

    .section-reverse {
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 10px;
    }    
    
    .section img {
        width: 60%;
    }
    
    .dispositivos {
        height: auto;
        text-align: center; 
        margin-bottom: 40px;       
    }
    
    .dispositivos h2 {
        margin-bottom: 30px;
    }
    
    .dispositivos__item {
        flex-direction: column;
    }
    
    .dispositivos__item__texto img {
        width: 70%;
    }

    .rodape{
        margin-top: 100px;
    }
    
    .rodape img {
        margin-top: 30px;
        width: 30%;        
    }
    
    .rodape__links {
        flex-direction: column;    
    }
}